.container{
    margin-top: 60px;
    width: 1140px;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px
}
.footer-title-text{
    margin-left: 10px;
    margin-top: 7px;
}
.footer-title span{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px
}
.footer-title-ico{
    width: 37px;
    height: 37px;
    background-image: url('./app-footer-img/Vector2.png');
    box-sizing: cover;
    background-repeat: no-repeat;
}
.footer-title-under{
    margin-top: 26px;
    width: 340px;
    height: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4F5665;
}
.footer-title-under span{
    font-weight: 500;
}
.footer-a{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
}
.footer-icons{
    margin: 30px 0;
    display: flex;
    width: 167px;
    flex-wrap: wrap;
}
.footer-ico{
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background: url('./app-footer-img/VectorFaceBook.png');
    box-sizing: border-box;
    background-size: 33px;
    z-index: 999;
    background-color: #F53838;
    color: #F53838;
    border-radius: 50%;
    margin-right: 20px;
}
.footer-icoTw{
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background: url('./app-footer-img/vectorTwitter.png');
    box-sizing: border-box;
    background-size: 33px;
    z-index: 999;
    background-color: #F53838;
    color: #F53838;
    border-radius: 50%;
    margin-right: 20px;
}
.footer-icoInst{
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
    background: url('./app-footer-img/VectorInsta.png');
    box-sizing: border-box;
    background-size: 33px;
    z-index: 999;
    background-color: #F53838;
    color: #F53838;
    border-radius: 50%;
    margin-right: 20px;
}

.nameA{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px; 
}
.nameA ul li{
    list-style-type: none;    
}
.nameA ul{
    list-style: none;
	padding-left: 0;
}
.nameA a{
    margin-left: 0px;
    padding-left: 0px;
    color: #4F5665;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}
.footer-right{
    width: 450px;
    display: flex;
    justify-content: space-between;
}
