@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;1,500;1,700&display=swap');

.header{
    display: flex;
    justify-content: space-between;
}
.left-header{
    text-align: center;
    margin-top: 18px;
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    margin-right: 40px;
}
span{
    font-weight: 900;
}
.left-header-ico{
    align-items: center;
    margin-right: 13px;
    width: 20px;
    height: 20px;
    background-image: url(./app-header-img/Vector.png);
    background-size: 19px;
    background-repeat: no-repeat;
}
.nav{
    align-items: center;
}
.nav ul a li{
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    padding-right: 40px;
    color: grey;
    list-style-type: none;
}

.right-header{
    margin-top: 10px;
    display: flex;
    width: 263px;
    justify-content: space-between;
}
.sign-in{
    padding:13px 35px;
    width: 150px;
    height: 45px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
.sign-up{
    padding:13px 35px;
    width: 210px;
    height: 45px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #F53855;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
}